* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #0B132B;
    --medium-purple: #1c2c5d;
    --lilac: #3A506B;
    --medium-green: #5BC0BE;
    --light-green: #6fffe941;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Not displayed in the desktop viewport */
#menu-icon, .about-photo, .github-resp {
    display: none;
}

/* ------------------- Navbar ----------------- */

.navbar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    color: #ced5e7;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5%;
}

.navbar-brand {
    margin-right: 0;
    margin-top: 10%;
    font-size: 2rem;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
}

.nav-pills {
    font-size: 1.5rem;
    margin-top: 7%;
    width: 100%;
}

.item {
    border-top: solid 2px var(--lilac);
}

.sub-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.navbar a:hover {
    color: #f1f1f1;
}

.img-container {
    margin-right: 0;
    border-radius: 50%;
}

.nav-photo {
    object-fit: cover;
    object-position: 90% ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.icons-nav {
    align-self: center;
    bottom: 0;
    margin-top: 50%;
}

.fa-linkedin, .fa-github {
    color: var(--medium-green);
}

/* -------------------- Page ---------------------- */
.page-content {
    margin-left: 25%;
}

.banner-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

#item-1, #item-2, #item-3, #item-4 {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: start;
    border-bottom: solid 5px var(--light-green);
}

.about-title {
    color:  var(--medium-purple);
    font-size: 4rem;
    font-weight: 700;
}

.about-sub {
    margin-top: 3%;
    margin-bottom: 6%;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--medium-green);
}

.content-titles {
    font-size: 2rem;
    color: var(--medium-purple);
    font-weight: 700;
}

.content-texts {
    color: #888;
    font-size: 1.3rem;
}

.card {
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-body {
    padding-top: 0;
}

hr {
    border: solid 2px var(--light-green);
}

.page-screen {
    width: 100%;
}

.card-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5%;
}

.movie-link {
    color: var(--lilac);
}

.contact-details {
    margin-top: 6%;
}

/* -------------- Footer --------------- */
.footer {
    background-color: var(--light-green);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* ------------------------- Responsive ----------------------- */

@media screen and (max-width: 1680px) {
    .banner-img {
        height: 380px;
    }
}

@media screen and (max-width: 1280px) { 
    .navbar {
        padding-top: 5%;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 1rem;
    }

    .icons-nav {
        margin-top: 15%;
    }

    .nav-pills {
        font-size: 1.3rem;
    }

    .nav-photo {
        width: 120px;
        height: 120px;
    }

    .banner-img {
        height: 280px;
    }

    .icons-texts-container {
        margin-bottom: 17%;
        font-size: 1.1rem;
    }

    .card-title {
        font-size: 1.3rem;
    }

    .card-text {
        font-size: 1.2rem;
    }

    .text-fo {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 980px) {
    .navbar {
        padding-top: 6%;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .sub-title {
        font-size: 0.9rem;
    }

    .nav-pills {
        font-size: 1.2rem;
    }

    .icons-nav {
        margin-top: 80%;
    }


    .banner-img {
        height: 200px;
    }

    .about-title {
        font-size: 2.8rem;
    }
    
    .content-titles {
        font-size: 1.5rem;
    }

    .content-texts {
        font-size: 1.1rem;
    }
    
    .icons-texts-container {
        margin-bottom: 29%;
    }

    .page-screen {
        margin-bottom: 3%;
    }

    .text-fo {
        font-size: 0.6rem;
    }

}

@media screen and (max-width: 736px) {

    .nav-photo, .sub-title, .icons-nav, .banner-img, .nav-pills {
        display: none;
    }

    .github-resp {
        display: block;
    }

    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        float: none;
    }

    .navbar-brand {
        position: absolute;
        margin-top: 0;
        top: 10%;
        left: 5%;
    }

    #menu-icon {
        display: block;
        position: absolute;
        top: 10%;
        right: 5%;
        font-size: 2rem;
    }

    .page-content {
        margin-left: 0%;
    }

    .about-photo {
        display: block;
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: 90%;
        border-radius: 50%;
        float: right;
        margin-top: -4%;
    }

    .about-title {
        font-size: 2.1rem;
    }

    .about-sub {
        font-size: 1.1rem;
        /* color: #777; */
    }

    .footer {
        padding: 5%;
    }

    .text-fo {
        font-size: 0.8rem;
    }

    .icons-texts-container {
        margin-bottom: 24%;
    }
}

@media screen and (max-width: 600px){
    .navbar {
        padding-top: 6%;
        padding-bottom: 3%;
    }

    .navbar-brand {
        top: 8%;
    }

    #menu-icon {
        top: 10%;
        font-size: 1.9rem;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-sub {
        font-size: 0.9rem;
    }

    .content-texts {
        font-size: 1rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .text-fo {
        font-size: 0.7rem;
    }

    .about-photo {
        width: 110px;
        height: 110px;
    }
}


@media screen and (max-width: 450px) {
    .navbar {
        padding-top: 7%;
        /* padding-bottom: 7%; */
    }

    .navbar-brand {
        top: 5%;
    }

    #menu-icon {
        top: 6%;
    }

    .about-title {
        font-size: 1.7rem;
    }

    .about-title {
        font-size: 1.5rem;
    }

    .about-sub {
        font-size: 0.7rem;
    }

    .content-texts {
        font-size: 0.8rem;
    }

    .icons-texts-container {
        margin-bottom: 35%;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .check-it {
        font-size: 0.7rem;
    }

    .text-fo {
        font-size: 0.6rem;
    }

    .about-photo {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 340px) {
    .navbar {
        padding-top: 9%;
        /* padding-bottom: %; */
        min-width: 100%;
    }

    .icons-texts-container {
        margin-bottom: 52%;
    }

    .about-photo {
        width: 80px;
        height: 80px;
    }

}